 .rotate  {
	
		transform: rotateY(360deg);
        transition: transform 1000ms ease-in-out;
}

.prep:hover, .cooking-time-2:hover {
	transform: translate(0, -15px);
	transition:  500ms;
}

.recipe-list img {
	width: 110px;
	transition: 1s;
}
.recipe-list img:hover {
    width: 200px;
    position: relative;
}
.front-page {
	display: none;
}
.intro-content {
	& h1, button, p {
		display: none;
	}

	//.intro-span {
	//	display: none;
	//}
}



